/*orange D35D31, blue 1A4D6D, purple 4C1938, light purple 993271*/

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: grid;
  grid-template-areas: "navbar" "hero" "biotext" "quote" "footer";
}

.navbar {
  background-color: #ffffff;
  grid-area: navbar;
}

img.kc-logo {
  float: left;
  width: 50%;
}

.hero {
  background-color: #ffffff;
  grid-area: hero;
  margin-top: 1rem;
}

img.bio-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  width: 70%;
}

.biotext {
  grid-area: biotext;
}

.quote {
  grid-area: quote;
}

img.border {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Solway", serif;
  font-size: 3rem;
  font-weight: 300;
  line-height: 3rem;
  text-align: center;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  padding: 3rem;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.8rem;
  line-height: 4rem;
  text-align: center;
}

p {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 2.7rem;
  line-height: 4.5rem;
  padding: 3rem;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.footer {
  background-color: #1A4D6D;
  color: #ffffff;
  font-size: 5rem;
  grid-area: footer;
  text-align: center;
  margin-top: 6rem;
  padding: 3rem;
}

p.foot-text {
  color: #ffffff;
  font-size: 2.4rem;
  line-height: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.icons li {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  padding: .4rem 1rem;
}


/* tablet */

@media screen and (min-width: 600px) {
  img.kc-logo {
    max-width: 35%;
  }
  img.bio-pic {
    width: 50%;
  }
  h1 {
    font-size: 3.6rem;
    line-height: 5rem;
  }
  p {
    font-size: 1.8rem;
    line-height: 3.5rem;
  }
}


/*desktop*/

@media screen and (min-width: 900px) {
  body {
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-areas: "navbar navbar navbar navbar" ". hero hero ." ". biotext biotext ." ". quote quote ." "footer footer footer footer";
  }
  h1 {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 5rem;
    padding-top: 3rem;
  }
  h2 {
    font-size: 3.2rem;
    line-height: 5rem;
  }
  h3 {
    font-size: 2.1rem;
    line-height: 4rem;
  }
  p {
    font-size: 2.1rem;
    line-height: 4rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  img.kc-logo {
    max-width: 25%;
  }
  img.bio-pic {
    width: 20%;
  }
  img.border {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}
