* {
   box-sizing: border-box;
}

html {
   font-size: 10px;
}

body {
   display: grid;
   grid-template-areas: "header" "biotext1" "quote" "footer";
   margin: 0;
   padding: 0;
}

.header {
   background-color: #ffffff;
   grid-area: header;
   width: 100%;
   position: fixed;
}

img.kc-logo {
   float: left;
   width: 100%;
}

.biotext1 {
   grid-area: biotext1;
   width: 100%;
   padding-top: 8rem;
}

.quote {
   grid-area: quote;
   width: 100%;
}

h1,
h1.greeting {
   font-family: "Solway", serif;
   font-size: 1.8rem;
   font-weight: 300;
   line-height: 4rem;
   margin-left: 3.5rem;
   margin-right: 3.5rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
   text-align: center;
}

h1.greeting {
   font-weight: 700;
}

p {
   color: #000000;
   display: block;
   font-family: 'Quicksand', sans-serif;
   font-size: 1.8rem;
   line-height: 3.5rem;
   margin-left: 3.5rem;
   margin-right: 3.5rem;
   margin-bottom: 2rem;
}

img.pix {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:60%;
}
FIGCAPTION {
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  line-height: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5rem;
  text-align: center;
  width: 60%;
}

/*buttons*/

.button1 {
   background-color: #D35D31;
   border: none;
   box-shadow: 0 .5rem #000000;
   color: #FFFFFF;
   cursor: pointer;
   display: block;
   font-family: 'Solway', serif;
   font-size: 1.8rem;
   font-weight: 300;
   line-height: 3rem;
   margin: 2rem auto;
   margin-top: 2rem;
   outline: none;
   padding: 1.7rem;
   text-align: center;
   text-decoration: none;
   width: 25rem;
}

.button1:hover {
   background-color: #1A4D6D;
   color: #FFFFFF;
}

.button1:active {
   background-color: #1A4D6D;
   box-shadow: 0 .5rem #666;
   color: #FFFFFF;
   transform: translateY(.4rem);
}


.footer {
   background-color: #1A4D6D;
   color: #ffffff;
   font-size: 4rem;
   grid-area: footer;
   text-align: center;
   margin-top: 1rem;
   padding: 2rem;
   width: 100%;
}

p.foot-text {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size:1.5rem;
  line-height: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;

}

.icons li {
   display: inline;
   margin-left: auto;
   margin-right: auto;
   padding: .4rem 1rem;
}

.icons a {
   color: #ffffff;
}

.icons a:visited {
   color: #ffffff;
}

.icons a:hover,
a:active,
a:focus {
   color: #D35D31;
}

.active {
   display: flex;
}

/* tablet */

@media screen and (min-width: 600px) {
   h1 {
      font-size: 2.1rem;
      line-height: 3rem;
   }
   h1.greeting {
      font-size: 2.1rem;
   }
   h2 {
      font-size: 2.5rem;
      line-height: 5rem;
   }
   p {
      font-size: 1.6rem;
      line-height: 4rem;
      margin-left: 10rem;
      margin-right: 10rem;
   }
   img.kc-logo {
     width: 25rem;
   }
   .button1 {
      max-width: 25rem;
   }
   .biotext1 {
      margin-top: 6rem;
   }
   img.pix {
     width:50%;
   }
   FIGCAPTION {
     font-size: 1.4rem;
     width: 50%;
   }

}


/*desktop*/

@media screen and (min-width: 900px) {
   body {
      grid-template-columns: 3fr 4fr 4fr 3fr;
      grid-template-areas: "header header header header" ". biotext1 biotext1 ." ". biotext1 biotext1 ." ". quote quote . " "footer footer footer footer";
   }
   img.kc-logo {
      width:30rem;
   }
   .button1 {
      width: 25rem;
   }
   .button2 {
      width: 25rem;
   }
   h1,
   h1.greeting {
      font-size: 2rem;
      line-height: 3rem;
   }
   p {
      font-size: 1.6rem;
      line-height: 4rem;
      padding-top: 1rem;
   }
   .biotext1 {
      margin-top: 12rem;
   }
   img.pix {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width:40%;
   }
   FIGCAPTION {
     display: block;
     font-family: 'Quicksand', sans-serif;
     font-size: 1.4rem;
    font-style: italic;
     line-height: 4rem;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
   }
   .quote {
     margin-bottom: 4rem;
   }
}
