/*orange D35D31, blue 1A4D6D, purple 4C1938, light purple 993271*/
* {
box-sizing: border-box;
}

html {
font-size: 10px;
}

body {
display: grid;
grid-template-areas: "navbar" "hero" "social-icons" "contact-form" "footer";
}

.navbar {
background-color: #ffffff;
grid-area: navbar;
}

img.kc-logo {
float: left;
width: 50%;
}

.hero {
background-color: #ffffff;
grid-area: hero;
margin-top: 3rem;
}

img.center {
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 1rem;
width: 40%;
height: auto;
}

.social-icons {
background-color: #D35D31;
grid-area: social-icons;
display: block;
margin-left: auto;
margin-right: auto;
}

.icons {
margin-left: auto;
margin-right: auto;
padding-left: .4rem;
padding-top: 2rem;
padding-bottom: 2rem;
}

.icons li {
color: #ffffff;
display: inline;
font-size: 5rem;
padding: 1rem;
}

.icons a {
color: #ffffff;
}

.icons a:visited {
color: #ffffff;
}

.icons a:hover,
a:active,
a:focus {
color: #1A4D6D;
}

h1 {
font-family: "Solway", serif;
font-size: 3rem;
font-weight: 700;
line-height: 4rem;
text-align: center;
margin-left: .5rem;
margin-right: .5rem;
padding: 1rem;
}

p {
color: #000000;
font-family: 'Roboto', sans-serif;
font-size: 2.7rem;
margin-top: 3rem;
text-align: center;
}

.contact-form {
grid-area: contact-form;
padding-left: 2rem;
padding-right: 2rem;
}

form {
margin: 5rem auto;
}

.feedback-input {
color: #000000;
font-family: 'Roboto', sans-serif;
font-size: 1.8rem;
border-radius: .5rem;
line-height: 2.2rem;
background-color: transparent;
border: .2rem solid #4C1938;
transition: all 0.3s;
padding: 1.3rem;
margin-bottom: 1.5rem;
width: 100%;
outline: 0;
}

.feedback-input:focus {
border: .2rem solid #4C1938;
}

textarea {
height: 15rem;
line-height: 150%;
resize: vertical;
}

[type="submit"] {
font-family: 'Roboto', sans-serif;
width: 70%;
background: #4C1938;
border-radius: .5rem;
border: 0;
cursor: pointer;
color: white;
font-size: 2.4rem;
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 1rem;
padding-bottom: 1rem;
transition: all 0.3s;
margin-top: -.4rem;
}

[type="submit"]:hover {
background: #993271;
}

.footer {
background-color: #1A4D6D;
color: #ffffff;
grid-area: footer;
text-align: center;
margin-top: 2rem;
}

p.foot-text {
color: #ffffff;
font-size: 2rem;
line-height: 3rem;
margin-left: 2rem;
margin-right: 2rem;
}


/* tablet */

@media screen and (min-width: 600px) {
img.kc-logo {
   max-width: 35%;
}
.icons li {
   padding: 4rem;
}
[type="submit"] {
   width: 40%;
}
/*desktop*/
@media screen and (min-width: 900px) {
   body {
      grid-template-columns: 1fr 5fr 5fr 1fr;
      grid-template-areas: "navbar navbar navbar navbar" ". hero hero ." ". social-icons social-icons ." ". contact-form contact-form ." "footer footer footer footer";
   }
   [type="submit"] {
      width: 20%;
   }
   img.kc-logo {
      max-width: 20%;
   }
   img.center {
      width: 20%;
   }
   .icons li {
      padding: 3rem;
   }
}
