/*orange D35D31, blue 1A4D6D, purple 4C1938, light purple 993271*/
* {
   box-sizing: border-box;
}

html {
   font-size: 10px;
}

body {
   display: grid;
   grid-template-areas: "header" "hero" "process-intro" "billow" "billowsum" "capstone" "capsum" "footer";
   margin: 0;
}

.header {
  grid-area: header;
  width: 100%;
}

img.kc-logo {
   float: left;
   width: 50%;
}

img.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   height: auto;
   padding: 3rem;
}

img.caphome {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
}

.hero {
   background-color: #ffffff;
   grid-area: hero;
   margin-bottom: 1rem;
   padding: 15rem 2rem 5rem 2rem;
   width: 100%;
}

.process-intro {
   grid-area: process-intro;
   width: 100%;
   background-color: #1A4D6D;
   height: 3rem;
   text-align:center;
}

.billow {
   background: linear-gradient(to bottom, #de8767 0%, #D35D31 100%);
   grid-area: billow;
   padding-top: 4rem;
   width: 100%;
}

img.billowhome {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 70%;
}

.billowsum {
   background: linear-gradient(to bottom, #D35D31 0%, #ab4925 100%);
   grid-area: billowsum;
   padding-bottom: 4rem;
   width: 100%;
}

.capsum {
   background: linear-gradient(to bottom, #993271 0%, #7a285a 100%);
   grid-area: capsum;
   padding-bottom: 4rem;
   width: 100%;
}

.capstone {
  background: linear-gradient(to bottom, #bf3e8d 0%, #993271 100%);
   grid-area: capstone;
   margin-left: auto;
   margin-right: auto;
   padding-top: 4rem;
   width: 100%;
}

img.caphome {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
}

h1 {
   font-family: "Solway", serif;
   font-size: 1.8rem;
   font-weight: 700;
   line-height: 4rem;
   text-align: center;
}

h1.caption {
   color: #ffffff;
   font-size: 2.7rem;
   padding: 2rem;
}

h2 {
   font-family: 'Roboto', sans-serif;
   font-size: 1.8rem;
   line-height: 4rem;
   text-align: center;
}

h3 {
   color: #ffffff;
   font-family: 'Roboto', sans-serif;
   font-size: 1.6rem;
}

p {
   color: #000000;
   font-family: 'Roboto', sans-serif;
   font-size: 1.8rem;
   line-height: 3.5rem;
   padding: 2rem;
   margin-left: 3.5rem;
   margin-right: 3.5rem;
}

p.caption2 {
   color: #ffffff;
   padding: 5rem;
}


/*buttons*/

.button1 {
   background-color: #D35D31;
   border: none;
   box-shadow: 0 .5rem #000000;
   color: #FFFFFF;
   cursor: pointer;
   display: block;
   font-family: 'Solway', serif;
   font-size: 1.8rem;
   font-weight: 300;
   line-height: 3rem;
   margin: 2rem auto;
   margin-top: 2rem;
   outline: none;
   padding: 1.7rem;
   text-align: center;
   text-decoration: none;
   width: 60%;
}

.button1:hover {
   background-color: #1A4D6D;
}

.button1:active {
   background-color: #1A4D6D;
   box-shadow: 0 .5rem #666;
   transform: translateY(.4rem);
}

.button2 {
   background-color: #216088;
   border: none;
   box-shadow: 0 .5rem #000000;
   color: #FFFFFF;
   cursor: pointer;
   display: block;
   font-family: 'Solway', serif;
   font-size: 1.8rem;
   font-weight: 300;
   line-height: 3rem;
   margin: 2rem auto;
   outline: none;
   padding: 1.7rem;
   text-align: center;
   text-decoration: none;
   width: 60%;
}

.button2:hover {
   background-color: #4C1938;
}

.button2:active {
   background-color: #4C1938;
   box-shadow: 0 .5rem #666;
   transform: translateY(.4rem);
}

.footer {
   background-color: #1A4D6D;
   color: #ffffff;
   font-size: 4rem;
   grid-area: footer;
   text-align: center;
   margin-top: 1rem;
   padding: 2rem;
   width: 100%;
}

p.foot-text {
   color: #ffffff;
   font-size: 1.8rem;
   line-height: 4rem;
   margin-left: auto;
   margin-right: auto;
   padding: 1rem;
}

.icons li {
   display: inline;
   margin-left: auto;
   margin-right: auto;
   padding: .4rem 1rem;
}

.icons a {
   color: #ffffff;
}

.icons a:visited {
   color: #ffffff;
}

.icons a:hover,
a:active,
a:focus {
   color: #D35D31;
}

.active{
  display: flex;
}
/* tablet */

@media screen and (min-width: 600px) {
   h1 {
      font-size: 2.7rem;
      line-height: 5rem;
   }
   h1.caption {
      font-size: 4rem;
   }
   h2 {
      font-size: 2.5rem;
      line-height: 5rem;
   }
   h3 {
      font-size: 2.5rem;
      line-height: 5rem;
   }
   p {
      font-size: 2.5rem;
      line-height: 5rem;
   }
   .process-intro {
     height: 5rem;
   }
   .billowhome {
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   .caphome {
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   .button1,
   .button2 {
      width: 30%;
   }
}


/*desktop*/

@media screen and (min-width: 900px) {
   body {
      grid-template-columns: 1fr 8fr 8fr 1fr;
      grid-template-areas: "header header header header" ". hero hero ." "process-intro process-intro process-intro process-intro" "billow billow billowsum billowsum" "capsum capsum capstone capstone" "footer footer footer footer";
   }

   img.kc-logo-index {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
   }
   .button1 {
      width: 20rem;
   }
   .button2 {
      width: 20rem;
   }
   h1 {
      font-size: 3.6rem;
      line-height: 5rem;
   }
   h2 {
      font-size: 3.2rem;
      line-height: 5rem;
   }
   h3 {
      font-size: 2.1rem;
      line-height: 4rem;
   }
   p {
      font-size: 2.1rem;
      line-height: 3rem;
   }

   .billow,
   .capstone {
      padding-bottom: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   .caphome {
      width: 20%;
   }

   .billowsum,
   .capsum {
      padding-top: 4rem;
      padding-bottom: 0;
   }

   .billow {
      background: linear-gradient(to right, #de8767 0%, #D35D31 100%);
    }

   .billowsum {
      background: linear-gradient(to right, #D35D31 0%, #ab4925 100%);
    }

    .capsum {
      background: linear-gradient(to left, #993271 0%, #7a285a 100%);
    }

    .capstone {
      background: linear-gradient(to left, #bf3e8d 0%, #993271 100%);
    }
}
