/*orange D35D31, blue 1A4D6D, purple 4C1938, light purple 993271*/
* {
   box-sizing: border-box;
}

html {
   font-size: 10px;
   scroll-behavior: smooth;
}

body {
   display: grid;
   grid-template-areas: "header" "greeting" "photo" "message" "footer";
   margin: 0;
   padding: 0;
}

.header {
   background-color: #ffffff;
   grid-area: header;
   max-width: 100%;
   position: fixed;
}

img.kc-logo {
   float: left;
   max-width:100%;
   height: auto;
}

.greeting {
   background-color: white;
   color: black;
   grid-area: greeting;
   line-height: 2rem;
   margin-top: 7rem;
   padding-bottom: 1rem;
   text-align: center;
   max-width: 100%;
   height: auto;
}

h1.small {
  font-family: "Solway", serif;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 4rem;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

h1.big {
   display: none;
}

.photo {
   grid-area: photo;
   max-width: 100%;
   height: auto;
}

img.mainpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  height: auto;
}

div.message {
   background-color: white;
   grid-area: message;
   margin-top: 2rem;
   max-width: 100%;
}

p.p-top {
   color: #000000;
   font-family: 'Quicksand', sans-serif;
   font-size: 1.4rem;
   line-height: 3rem;
   padding-left: 4rem;
   padding-right: 4rem;
   max-width: 100%;
   text-align: center;
}

/*buttons*/

.button1, .button2, .button3 {
   background-color: #D35D31;
   border: none;
   box-shadow: 0 .5rem #000000;
   color: #FFFFFF;
   cursor: pointer;
   display: block;
   font-family: 'Solway', serif;
   font-weight: 300;
   font-size: 1.4rem;
   line-height: 3rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
   margin-left: auto;
   margin-right: auto;
   outline: none;
   padding:1rem;
   text-align: center;
   text-decoration: none;
   max-width: 50%;
   max-height: auto;
}

.button2 {
  background-color: #1A4D6D;
}

.button3 {
  background-color: #993271;
}
.button1:hover {
   background-color: #1A4D6D;
}

.button1:active, .button2:active,.button3:active {
   background-color: #1A4D6D;
   box-shadow: 0 .5rem #666;
   transform: translateY(.4rem);
}

.button2:hover {
   background-color:#993271;
}

.button2:active {
   background-color:#993271;
}

.button3:hover {
   background-color:#1A4D6D;
}

.button3:active {
   background-color:#1A4D6D;
}

.footer {
   background-color:#1A4D6D;
   color: #ffffff;
   font-size: 4rem;
   grid-area: footer;
   text-align: center;
   margin-top: 1rem;
   padding: 2rem;
   width: 100%;
}

p.foot-text {
   color: #ffffff;
   font-family: 'Quicksand', sans-serif;
   font-size:1.5rem;
   line-height: 2rem;
   margin-left: auto;
   margin-right: auto;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.icons li {
   display: inline;
   margin-left: auto;
   margin-right: auto;
   padding: .4rem 1rem;
}

.icons a {
   color: #ffffff;
}

.icons a:visited {
   color: #ffffff;
}

.icons a:hover,
a:active,
a:focus {
   color: #D35D31;
}

.active {
   display: flex;
}


/* tablet */

@media screen and (min-width: 600px) {
  body {
    grid-template-columns: 2fr 4fr 4fr 2fr;
    grid-template-areas: "header header header header" "greeting greeting photo photo" "message message photo photo" "footer footer footer footer";
  }

   img.kc-logo {
     width: 50%;
   }
   .photo {
      margin-top: 10rem;
      padding-bottom: 2rem;
   }
   img.mainpic {
      width: 10rem;
   }
   h1.small {
      font-family: "Solway", serif;
      font-size: 3rem;
      font-weight: 700;
      line-height: 4rem;
      margin-left: 3rem;
   }
   p.p-top {
      font-size: 1.8rem;
      line-height: 4rem;
      margin-left:1.8rem;
   }
   .button1,
   .button2,
   .button3 {
      font-size: 1.8rem;
      margin-bottom: 3rem;
      margin-top: 3rem;
      width: 25rem;
   }
}


/*desktop*/

@media screen and (min-width: 1024px) {
   body {
      grid-template-columns: 2fr 4fr 4fr 2fr;
      grid-template-areas: "header header header header" "greeting greeting photo photo" "message message photo photo" "footer footer footer footer";
   }
   img.kc-logo {
      width: 30rem;
   }
   .greeting {
      margin-left: 6.5rem;
      padding-bottom: 0;
      padding-top: 0;
   }
   .photo {
      margin-top: 18rem;
      padding-bottom: 2rem;
      margin-right: 8rem;
   }
   img.mainpic {
      width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   .button1 {
      margin-top: 5rem;
      width: 25rem;
   }
   .button2, .button3 {
      width: 25rem;
   }
   h1.small {
      display: none;
   }
   h1.big {
      display: contents;
      font-family: "Solway", serif;
      font-size: 4.5rem;
      font-weight: 700;
   }
   h2 {
      font-size: 3.2rem;
      line-height: 4rem;
   }
   h3 {
      font-size: 3.2rem;
      line-height: 4rem;
   }
   p {
      font-size: 2.3rem;
      line-height: 5rem;
   }
}
