/*orange D35D31, blue 1A4D6D, purple 4C1938*/
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container1 {
  height: 10rem;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.container1 .logo {
  max-width: 10rem;
  padding: 0;
  overflow: hidden;
}

.container1 .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 9rem;
}

.container1 .logo a img {
  max-width: 100%;
  max-height: 60px;
}

.container1 .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
}

.container1 .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container1 .navbar ul li a {
  text-decoration: none;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
}
.container1 .navbar ul li a:hover {
  color: #ffffff;
  background-color: rgba(23, 23, 23, 0.9);
}

.container1 .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container1 .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

.container1 .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 30rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.container1 .navbar .icon-bar i {
  background-color: #ffffff;
  height: 2px;
}

.container2 {
  background-color: white;
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
}

body {
  background-color: white;
  padding-bottom: 5rem;
}


/*Typography*/

h1 {
  font-size: 2rem;
  font-family: 'Solway', serif;
  line-height: 1.3;
  text-align: left;
}


/*menu and list item text*/

h2,
li {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 1.3;
  text-align: center;
  padding: 3rem;
}


/*Billow font*/

h3 {
  font-family: 'Righteous', cursive;
  font-size: 3.6rem;
  text-align: center;
}


/*Case Study Sub-section header*/

h4 {
  color: #1A4D6D;
  font-family: 'Solway', serif;
  font-size: 2rem;
  line-height: 1.3;
  margin-top: 2rem;
  text-align: left;
}


/*Case Study Section header*/

h5 {
  color: white;
  background-color: #1A4D6D;
  font-family: 'Solway', serif;
  font-size: 2.3rem;
  height: 4.8rem;
  margin-top: 6rem;
  margin-bottom: 1.5rem;
  padding: 1.3rem;
  text-align: center;
}


/*Results*/

h6 {
  color: #D35D31;
  font-family: 'Solway', serif;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  margin-top: .5rem;
}

p.summary {
  background-color: #D35D31;
  color: #FFFFFF;
  margin-bottom: 2rem;
  padding: 2rem;
}

p.stories {
  text-align: center;
}

em {
  font-style: italic;
}

.preference {
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/*Structure*/

.hero {
  background-color: white;
  color: black;
  font-weight: bold;
  margin-top: 2rem;
  padding: 5rem 2rem;
  text-align: center;
  width: 100%;
}

.casestudy {
  font-size: 2.4rem;
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
}

/*billow on homepage*/
.billow {
  background-color: #D35D31;
  color: white;
  height: auto;
  text-align: center;
}

/*capstone on homepage*/
.capstone {
  background-color: #4C1938;
  color: white;
  height: auto;
  margin-bottom: 190px;
  text-align: center;
}


/*buttons*/

.button1 {
  background-color: #D35D31;
  border: none;
  box-shadow: 0 9px #000000;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Solway', serif;
  font-size: 1.6rem;
  margin: 0 auto;
  outline: none;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  width: 18rem;
}

.button1:hover {background-color: #1A4D6D}

.button1:active {
  background-color: #1A4D6D;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2 {
  background-color: #1A4D6D;
  border: none;
  box-shadow: 0 9px #000000;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Solway', serif;
  font-size: 1.6rem;
  margin: 2rem;
  outline: none;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
}

.button2:hover {background-color: #1A4D6D}

.button2:active {
  background-color: #1A4D6D;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


hr {
  background-color: #4C1938;
  height: 1rem;
}

.mySlides1,
.mySlides2,
.mySlides3,
.mySlides4 {
  display: none;
}


/* Slideshow container */

.slideshow-container {
  background-color:#EE9B7C;
  max-width: 1000px;
  position: relative;
  margin-bottom: 3rem;
}


/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 3.2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* On hover, add a grey background color */

.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

footer {
  background-color: white;
  bottom: 0;
  height: 10vh;
  position: fixed;
}

.socialicons li {
  color: #1A4D6D;
  font-size: 6rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (min-width: 768px) {
  .container2 {
    width: 80%;
  }
}

@media screen and (min-width: 1025px) {
  .container2 {
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 100px;
    width: 100rem;
  }
  .section {
    float: none;
    margin: 1%;
    width: 98%;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .container .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .container .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .container .navbar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
  }

  .container .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
  }

  .container .navbar ul .close {
    display: block;
  }

  .container .navbar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container .navbar ._Menus-show {
    left: 0;
  }
}
