* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container {
  background-color: white;
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
}

body {
  background-color: white;
}

/*headline text*/
h1 {
  font-size: 2.4rem;
  font-family: 'Solway', serif;
  line-height: 1.3;
  text-align: center;
}

/*menu and list item text*/
h2, li {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  text-align: center;
}

/*Billow font*/
h3 {
  font-size: 1.8rem;
  font-family: 'Righteous', cursive;
  text-align: center;
}

/*Case Study Sub-section header*/
h4 {
  color: #1A4D6D;
  font-size: 2.4rem;
  font-family: 'Solway', serif;
  line-height: 1.3;
  text-align: left;
}

/*Case Study Section header*/
h5 {
  color: white;
  background-color: #1A4D6D;
  font-size: 2.4rem;
  font-family: 'Solway', serif;
  text-align: center;
}

/*Results*/
h6 {
  color: #D35D31;
  font-size: 2.4rem;
  font-family: 'Solway', serif;
  text-align: center;
}

section.logo {
  background: url(../images/KClogo.png) left;
  height: 15vh;
  background-size: 30%;
  background-repeat: no-repeat;
  padding-top: 40rem;
  padding-bottom: 0;
}

section.hero {
  color: black;
  background-color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 2rem;
  padding: 5rem 2rem;
  width: 100%;
}

section.pyramid {
  background: url(../images/pyramid.png) center;
  background-repeat: no-repeat;
}

p {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
  margin-top: .5rem;
}

p.summary {
  font: #FFFFFF;
  background-color: #D35D31;
}

/*billow on homepage*/
section.billow {
  background-color: #D35D31;
  color: white;
}

/*capstone on homepage*/
section.capstone {
  background-color: #4C1938;
  color: white;
  margin-bottom: 290px;
}

button {
	background-color: #1A4D6D;
	display:inline-block;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 3.5rem;
  margin-top: 4rem;
	padding: 3rem 9rem;
	text-decoration:none;
}

hr {
  color: #4C1938;
}

footer {
  background-color: white;
  bottom: 0;
  padding: 10rem;
  padding-bottom: 20rem;
  padding-top: 4rem;
  position: fixed;
  width: 90%;
  height: 10vh;
  font-size: 10rem;
}

@media screen and (mid-width: 768px) {
  .container {
    width: 80%;
  }
}

@media screen and (mid-width: 1025px) {
  .container {
    width: 100rem;
    padding-bottom: 100px
    margin: 0 auto;
    overflow: hidden;
  }

  .section {
    float: none;
    margin: 1%
    width: 98%;
  }

  h1, h2 {
    font-size: auto;
  }

  p {
    font-size: auto;
  }

button {
    display:block;
    margin:0.4em auto;
  }
}
