.header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #ffffff;
}

.header li a {
  color: #1A4D6D;
  display: block;
  padding: 1rem 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
}

.header li a:active {
  color: #D35D31;
}

.header li a:hover {
  background-color: #dbd1d7;
  color: #4C1938;
}

.header .logo {
  display: inline-block;
  float: left;
  font-size: 2em;
  padding: 0;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding-right: 4rem;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: inline-block;
  height: .2rem;
  position: relative;
  transition: background .2s ease-out;
  width: 1.8rem;
  top:-5rem;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: inline-block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: -.5rem;
}

.header .menu-icon .navicon:after {
  top: -1rem;
}
header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 24rem;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*desktop*/

@media screen and (min-width: 900px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 3rem 2rem;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
